[submodule "dsp/dsp-api"]
	path = dsp/dsp-api
	url = https://github.com/dasch-swiss/dsp-api
[submodule "dsp/dsp-app"]
	path = dsp/dsp-app
	url = https://github.com/dasch-swiss/dsp-app
[submodule "dsp/dsp-tools"]
	path = dsp/dsp-tools
	url = https://github.com/dasch-swiss/dsp-tools
[submodule "dsp/dsp-ingest"]
	path = dsp/dsp-ingest
	url = git@github.com:dasch-swiss/dsp-ingest.git
