site_name: DaSCH Software Platform Documentation

nav:
    - User Guide:
      - Introduction: user-guide/index.md
      - Project Management: user-guide/project.md
      - Data Management: user-guide/data.md
      - User Management: user-guide/user.md
      - System Management: user-guide/system.md
      # - Publication: user-guide/publication.md
    - Developers:
      - Overview: developers/index.md
      - Knora Getting Started: developers/knora/getting-started.md
      - API Reference: 
        - Introduction: developers/knora/api-reference/index.md
        - Queries: developers/knora/api-reference/queries.md
      - Documentation:
        - Knora: developers/knora/documentation/index.md
        - Knora API JS lib: developers/knora-api-js-lib/documentation/index.md
        - Knora-ui modules:
          - Introduction: developers/knora-ui/documentation/index.md
          - Action module:
              - Readme: developers/knora-ui/documentation/action/index-action.md
              - AdminImage: developers/knora-ui/documentation/action/admin-image.md
              - ExistingName: developers/knora-ui/documentation/action/existing-name.md
              - Key: developers/knora-ui/documentation/action/key.md
              - Message: developers/knora-ui/documentation/action/message.md
              - Progress indicator: developers/knora-ui/documentation/action/progress-indicator.md
              - SortButton: developers/knora-ui/documentation/action/sort-button.md
              - StringifyStringLiteral: developers/knora-ui/documentation/action/stringify-string-literal.md
              - Truncate: developers/knora-ui/documentation/action/truncate.md
          - Authentication module: developers/knora-ui/documentation/index-authentication.md
          - Core module:
            - Readme: developers/knora-ui/documentation/core/index-core.md
          - Search module:
            - Readme: developers/knora-ui/documentation/search/index-search.md
            - Search-panel: developers/knora-ui/documentation/search/search-panel.md
            - Fulltext search: developers/knora-ui/documentation/search/fulltext-search.md
            - Extended search: developers/knora-ui/documentation/search/extended-search.md
            - Expert search: developers/knora-ui/documentation/search/expert-search.md
          - Viewer module:
            - Readme: developers/knora-ui/documentation/viewer/index-viewer.md
            - Search-results: developers/knora-ui/documentation/viewer/search-results.md
        - Knora web app: developers/knora-web-app/documentation/index.md
        - Sipi: developers/sipi/documentation/index.md
      - Contribution:
        - Knora: developers/knora/contribution/index.md
        - Knora API JS lib: developers/knora-api-js-lib/contribution/index.md
        - Knora-ui modules: developers/knora-ui/contribution/index.md
        - Knora web app: developers/knora-web-app/contribution/index.md
        - Sipi: developers/sipi/contribution/index.md
    - Community:
      - FAQ: community/faq.md
      - Product Updates: community/product-updates.md
      - About us: community/about-us.md


theme:
  name: material
  logo: 'assets/images/dasch-icon-white.svg'
  favicon: 'assets/images/dasch-favicon.ico'
  palette:
    primary: 'deep purple'
    accent: 'deep purple'
  feature:
    tabs: true
extra_css:
  - 'assets/style/theme.css'
