mkdocs==1.5.3
mkdocs-material==9.5.11
mkdocs-monorepo-plugin==1.1.0
mkdocs-include-markdown-plugin==6.0.4
mkdocs-git-revision-date-localized-plugin==1.2.4
mike==2.0.0
neoteroi-mkdocs==1.0.5
mkdocstrings==0.26.2
mkdocstrings-python==1.12.2
mkdocs-gen-files==0.5.0
mkdocs-literate-nav==0.6.1
mkdocs-section-index==0.3.9
