name: CI

on:
  push:

jobs:

  build:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get submodules
        run: make update-docs
      - name: Build
        uses: jnanadarshan/mkdocs-build-action@v0.24

  publish:
    name: Publish documentation
    needs: build
    runs-on: ubuntu-latest
    # Publish and deploy docs as Pull Requests are merged into "main" branch
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
      - name: Get submodules
        run: make update-docs
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          CUSTOM_DOMAIN: docs.dasch.swiss
          REQUIREMENTS: requirements.txt
